@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.first-page {
  background-color: #116cff;
  display: flex;
  flex-direction: column;
}

.first-page header {
  align-items: center;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 2;
  font-size: 16px;

}

.cabecalho a{
  text-decoration: none;
  color: inherit;
}

.elemnts-grow-1 {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.logo {
  display: flex;
  height: 40px;
}

.logo-letter {
  padding: 0px 10px;
  font-weight: 800;
  font-size: 22.5524px;
  color: #00235c;
  background-color: white;
  display: flex;
  align-items: center;
}

.text-coding-kid {
  font-weight: 800;
  font-size: 12.6857px;
  background: #00235c;
  padding: 10px;
  display: flex;
  align-items: center;
}

.login-text {
  color: #116cff;
  background-color: #ffffff;
  padding: 10px 30px;
  border-radius: 10px;
}

.first-page main {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.first-page .flex-inline-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.first-page .left-side {
  max-width: 530px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first-page .left-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #116cff;
  margin-right: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 30px;
}

.first-page .right-button {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;

  border: 1px solid #ffffff;
  box-sizing: border-box;
  padding: 10px 30px;
  border-radius: 10px;
}

.first-page .text-topside {
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 160%;

  color: #ffffff;
}

.first-page .text-botside {
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;

  color: #ffffff;
}

.first-page .right-side {
  display: flex;
}

.first-page .square {
  width: 423px;
  height: 395px;
  background-color: #ffffff;
  border-radius: 20px;
  position: relative;
}

.first-page .guy-right-side {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first-page .snow-left-up {
  z-index: 2;
  position: absolute;
  top: 2%;
  left: 2%;
  transform: translate(-50%, -50%);
}

.first-page .snow-left-down {
  z-index: 2;
  position: absolute;
  top: 98%;
  left: 98%;
  transform: translate(-50%, -50%);
}

.first-page .rectangle-down {
  width: 263px;
  height: 60px;
  background-color: #ffcf2d;
  z-index: 3;
  position: absolute;
  top: 2%;
  color: #00235c;
  left: 98%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  text-align: center;
  line-height: 60px;
  font-weight: 700;
  font-size: 20px;
}

.first-page .rectangle-up {
  width: 263px;
  height: 60px;
  background-color: #e7f0ff;
  color: #00235c;
  text-align: center;
  z-index: 3;
  position: absolute;
  top: 98%;
  left: 2%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
}

.second-page main {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.second-page .align-text-secondpage {
  display: flex;
  flex-direction: column;
}

.second-page .tittle-message {
  color: #00235c;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  max-width: 90%;
}

.second-page .message {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #00235c;
  max-width: 96%;
}

.third-page main {
  background-color: #116cff;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.third-page .align-text-thirdpage {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding-left: 50px;
}

.third-page .tittle-message {
  color: #ffffff;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

.third-page .message {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
}

.forth-page .main {
  background-color: #ffffff;
  flex-grow: 1;
}

.testimony-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #116cff;
}

.testimony-tittle {
  padding: 30px;
}

.div-forthpage-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 1;
}

.div-forthpage-row-inverter {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-grow: 1;
}

.div-forthpage-column {
  display: flex;
  flex-direction: column;
}

.ballon-forthpage {
  width: 440px;
  height: 187px;
  background: #e7f0ff;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.ballon-forthpage-pink {
  width: 440px;
  height: 187px;
  background: #ffe6e5;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.img-size {
  width: 65.45px;
  height: 64.1px;
  margin-top: 15px;
}

.polygon {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  background: #e7f0ff;
  clip-path: polygon(100% 0, 100% 100%, 0 50%);
  margin-left: -14px;
  z-index: -1;
}

.content-forthpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  height: 100%;
}

.name-forthpage {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.015em;
  color: #00235c;
}

.yearold {
  font-weight: 400;
}

.stars {
  color: #ff463a;
  width: 150px;
}

.text-forthpage {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #ff463a;
}

.text2-forthpage {
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.015em;
  color: #00235c;
}

.fifth-page {
  background-color: #116cff;
  display: flex;
}

.ourclass {
  padding: 30px;
  color: white;
}

.table-fifth-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.table {
  width: 1166px;
  height: 115px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.table-bottom {
  width: 1166px;
  height: 259px;
  background: #ffffff;
}

.vector {
  margin-top: 5px;
  position: absolute;
}

.text1-fifth-page {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #00235c;
}

.padding-1 {
  margin-left: 27px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}

.information {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #00235c;
  display: flex;
  flex-direction: row;
}

.information-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.button-detail-class {
  color: #ffffff;
  background: #116cff;
  border-radius: 10px;
  padding: 13px 20px;
}

.flex-button-detail {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.table-bottom {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #116cff;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.width-text {
  width: 350px;
}

.teste {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  height: 259px;
}

.free {
  text-align: right;
  color: #ff463a;
}

.price {
  width: 150px;
  text-align: right;
}

.sixty-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  align-items: center;
}

.tittle-sixty-page {
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  max-width: 500px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #00235c;

  margin-bottom: 50px;
}

.inputs {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #00235c;
  margin: 20px;
}

input {
  width: 394px;
  height: 52px;
  border: 1px solid #bcd6ff;
  box-sizing: border-box;
  border-radius: 10px;
}

.texto-input {
  width: 120px;
}

.register-button {
  width: 200px;
  height: 52px;
  background: #116cff;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  border: none;
  color: #ffffff;
  align-self: flex-end;
}

.register-div-button {
  width: 600px;
  display: flex;
  justify-content: flex-end;
}

.ask-teacher {
  position: absolute;
  left: 80%;
  top: 50%;
}

footer {
  width: 100%;
  background-color: #08245c;
  padding: 50px;
  display: flex;
}

body{
  overflow-x: hidden;
}

.footer-infos {
  font-size: 16px;
  color: white;
  display: flex;
  flex-direction: column;
}

.footer-info {
  margin-top: 35px;
}

.footer-links {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}

.footer-link {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.footer-link-title {
  color: #116cff;
  font-size: 18px;
  font-weight: 600;
}

.footer-link-link {
  color: #ffffff;
  font-size: 16px;
  margin-top: 25px;
}

.footer-socials {
  display: flex;
  width: 180px;
  justify-content: space-between;
}

.footer-socials img {
  width: 20px;
  height: 20px;
  margin-top: 35px;
}

.logo {
  display: flex;
  height: 40px;
}

.logo-letter {
  background-color: white;
  color: #00235c;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  padding: 0px 10px;
  display: flex;
  align-items: center;
}
.logo-name-border {
  color: white;
  border: 1px solid white;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 0px 10px;
  background-color: #00235c;
  display: flex;
  align-items: center;
}
